.order {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .top {
    width: 100%;
    gap: 20px;
    display: flex;

    .left {
      flex: 5;
      padding: 20px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

      .title {
        margin-bottom: 10px;
      }
    }

    .right {
      flex: 1;
      padding: 20px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

      .title {
        margin-bottom: 10px;
      }
    }
  }

  .bottom {
    padding: 20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  }
}
