.datatable {
  padding: 20px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  width: 100%;

  .title {
    margin-bottom: 20px;
  }

  .MuiDataGrid-columnHeader {
    text-transform: uppercase;

    &:focus {
      outline: none !important;
    }

    .MuiDataGrid-columnHeaderTitle {
      text-align: center;
      font-weight: 700 !important;
    }
  }

  .MuiDataGrid-cell {
    font-size: 1.3rem;
    &:focus {
      outline: none !important;
    }
  }

  .MuiDataGrid-row {
    &:nth-child(odd) {
      background-color: rgba(248, 246, 246, 0.5);
    }
  }

  .search {
    width: 30%;
    min-width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      height: 40px;
      padding: 0 10px;
      width: calc(100% - 25px);
      font-size: 1.3rem;
      border: 1px solid rgb(207, 207, 207);
      line-height: 40px;
      border-radius: 5px 0px 0px 5px;
      border-right: none;

      &:focus {
        outline: none;
        background-color: rgb(244, 244, 244);
      }
    }
    .icon {
      height: 40px;
      width: 40px;
      padding: 7px;
      color: white;
      border-radius: 0 5px 5px 0;

      background-color: var(--mainColor);
    }
  }

  .status {
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 15px;

    //pending, review, away , progess

    &.active,
    &.delivered {
      background-color: #d4efdf;
      color: #2ecc71;
    }

    &.inactive,
    &.processing {
      background-color: #fcf3cf;
      color: #d4ac0d;
    }

    &.suspended,
    &.canceled {
      background-color: #fadbd8;
      color: #e74c3c;
    }

    &.pending {
      background-color: #d6eaf8;
      color: #2874a6;
    }

    &.review {
      background-color: #ebdef0;
      color: #884ea0;
    }

    &.away {
      background-color: #d6dbdf;
      color: #283747;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    line-height: 10px;

    .icon {
      font-size: 2rem;
      color: var(--mainColor);
    }

    .btn {
      padding: 5px 10px;
      border: none;
      background-color: transparent;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &.view {
        border: 1px solid var(--mainColor);
        color: var(--mainColor);
        font-weight: bold;
      }
    }
  }
}
