.stepper {
  .step {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
    .stepTitle {
      display: flex;
      align-items: center;
      gap: 10px;

      .title {
        font-size: 1.5rem;
        font-weight: 700;
      }

      .icon {
        color: var(--mainColor);
      }
      //   &::before {
      //     content: "";
      //     width: 15px;
      //     height: 15px;
      //     background-color: var(--mainColor);
      //     border-radius: 50%;
      //     display: inline-block;
      //   }
    }
    .stepDate {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--titleHead);

      &::before {
        content: "";
        border-left: 3px solid var(--titleHead);
        display: inline-block;
        width: 10px;
        height: 15px;
        margin-left: 6px;
      }
    }
  }
}
